*{
    margin: 0px;
}

header{
   
    background-color: rgb(221, 243, 188);
    margin:0px 20px;
    background-image: url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}

/* nav */
nav {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
   
}

nav>ul li {
    list-style: none;
    display: inline;
    margin-right:25px;
    font-size: 30px;
    font-weight: 600;
}

.mohi {
    font-size: 40px;
    font-weight: 700;
}

.mohi>span {
    color:rgb(122, 161, 4);
}
.btn{
    background-color: rgb(12, 10, 10);
    color: whitesmoke;
    border-radius: 5px;
    font-size: 26px;
}
.btn:hover{
    background-color:rgb(132, 194, 8);
    color: black;
}

/* start */

.start{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    /* margin-left: 150px; */

}

.introduction{
   padding-top: 80px;
   padding-left: 180px;
}
.hi{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
    
}
.mohian-ahmed{
    font-size: 75px;
    font-weight: 900s;
    margin-bottom: 30px;
}
.start-para{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
}
.CV{
    background-color: darkgoldenrod;
    border: 0;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px;
    color:black;
}

/* About Me */

.about-me{
    margin-top: 130px;
    background-color: rgb(231, 245, 151);
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    border-radius: 10px;
}
.about-title{
    font-size: 60px;
    font-weight: 600;
    padding-top: 120px;
    padding-bottom: 30px;
}
.about-para{
    font-size: 25px;
    font-weight: 400px;
    padding-bottom: 30px;
}
.about-table, td{
   margin: 0 auto;
   padding-bottom: 110px;
   font-size: 24px;
   padding-left: 20px;
  
}

/* what i do */

.what-i-do{
    text-align: center;
    margin-top: 130px;
}
.what-title{
    font-size: 60px;
    font-weight: 600;
}
.what-para{
    font-size: 25px;
   padding-left: 130px;
   padding-right: 130px;
}